##### Pós-processamento

##### Importação das Bibliotecas

In [1]:
import pandas as pd
import numpy as np

##### Carregando dados

In [35]:
path = '/media/marcos/500GB/00_datasets/integrated_gmaps/dataset_integrated_gmaps.csv'
df = pd.read_csv(path)

- complementar com os tipos de variáveis: Numérica ou Categórica

##### Tratamento de valores inconsistentes

In [36]:
df.describe()

,line_id,station_code,station_initial_latitude,station_initial_longitude,station_sequence,accessibility_info_day,itinerary_code,station_final_latitude,station_final_longitude,distance,duration
count,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,13095.000000,13095.000000,13096.000000,13096.000000
mean,508.710904,147088.960599,-25.460603,-49.277304,15.753131,1.748626,360.158140,-25.460608,-49.277306,12108.096823,1249.691509
std,240.982430,40185.631325,0.052927,0.041219,13.922737,0.815021,287.467437,0.052927,0.041220,7620.643509,577.019104
min,10.000000,101001.000000,-25.625298,-49.378703,1.000000,1.000000,1.000000,-25.625298,-49.378703,0.000000,0.000000
25%,308.000000,120212.000000,-25.499360,-49.304682,6.000000,1.000000,146.000000,-25.499360,-49.304682,6600.000000,840.000000
50%,532.000000,141023.500000,-25.455090,-49.273996,12.000000,2.000000,290.000000,-25.455090,-49.273996,10900.000000,1260.000000
75%,668.000000,170504.000000,-25.422406,-49.248696,22.000000,2.000000,458.000000,-25.422406,-49.248696,16200.000000,1680.000000
max,989.000000,661001.000000,-25.350096,-49.183086,117.000000,3.000000,1208.000000,-25.350096,-49.183086,47900.000000,2940.000000

##### Tratando valor zerado na feature distance

In [37]:
df.loc[df['distance'] == 0]

,line_id,line_name,line_payment_method,line_category,line_color,station_name,station_code,station_initial_latitude,station_initial_longitude,station_sequence,...,accessibility_info_time,accessibility_info_day,accessibility_info_eletric_ramp,itinerary_company_name,itinerary_code,itinerary_special_line,station_final_latitude,station_final_longitude,distance,duration
13095,689,MAD. S. PEDRO / R. NEGRO,S,MADRUGUEIRO,MADRUGUEIRO,"Rua Alferes Poli, 400 - Rebouças",110026,-25.440706,-49.271456,117,...,03:40,1,ELEVADOR,SORRISO/PIONEIRO,660,S,NaN,NaN,0.0,0.0

In [38]:
df.loc[df['distance'] == 0, 'distance'] = df['distance'].mean()

##### Tratando valor zerado na feature duration

In [39]:
df.loc[df['duration'] == 0, 'duration'] = df['duration'].mean()

##### Verificando valores nulos

In [40]:
df.isnull().sum()

line_id                              0
line_name                            0
line_payment_method                  0
line_category                        0
line_color                           0
station_name                         0
station_code                         0
station_initial_latitude             0
station_initial_longitude            0
station_sequence                     0
station_direction                    0
station_type                        11
vehicle_plate                      239
vehicle_time                         0
accessibility_info_time              0
accessibility_info_day               0
accessibility_info_eletric_ramp     68
itinerary_company_name               0
itinerary_code                       0
itinerary_special_line               0
station_final_latitude               1
station_final_longitude              1
distance                             0
duration                             0
dtype: int64

##### Removendo valores nulos das features 'station_type', 'vehicle_plate', 'accessibility_info_eletric_ramp'

In [41]:
df = df.drop(df.loc[pd.isnull(df['station_type'])].index)
df = df.drop(df.loc[pd.isnull(df['vehicle_plate'])].index)
df = df.drop(df.loc[pd.isnull(df['accessibility_info_eletric_ramp'])].index)

In [42]:
df.isnull().sum()

line_id                            0
line_name                          0
line_payment_method                0
line_category                      0
line_color                         0
station_name                       0
station_code                       0
station_initial_latitude           0
station_initial_longitude          0
station_sequence                   0
station_direction                  0
station_type                       0
vehicle_plate                      0
vehicle_time                       0
accessibility_info_time            0
accessibility_info_day             0
accessibility_info_eletric_ramp    0
itinerary_company_name             0
itinerary_code                     0
itinerary_special_line             0
station_final_latitude             1
station_final_longitude            1
distance                           0
duration                           0
dtype: int64

##### Tratando valores nulos das features 'station_final_latitude' e 'station_final_longitude'

In [43]:
df.loc[df.loc[pd.isnull(df['station_final_latitude'])].index, 'station_final_latitude'] = df['station_final_latitude'].mean()
df.loc[df.loc[pd.isnull(df['station_final_longitude'])].index, 'station_final_longitude'] = df['station_final_longitude'].mean()

In [44]:
df.isnull().sum()

line_id                            0
line_name                          0
line_payment_method                0
line_category                      0
line_color                         0
station_name                       0
station_code                       0
station_initial_latitude           0
station_initial_longitude          0
station_sequence                   0
station_direction                  0
station_type                       0
vehicle_plate                      0
vehicle_time                       0
accessibility_info_time            0
accessibility_info_day             0
accessibility_info_eletric_ramp    0
itinerary_company_name             0
itinerary_code                     0
itinerary_special_line             0
station_final_latitude             0
station_final_longitude            0
distance                           0
duration                           0
dtype: int64

##### Transformando variáveis categóricas em numéricas
- Verificando quantidades dos valores das features categóricas, para analisarmos quais features tem a possibilidade de serem transformadas em numéricas

In [46]:
def verify_features_by_type(df, type):
    if type == 'numeric':
        return df.select_dtypes(include=['int64', 'float64']).columns
    else:
        return df.select_dtypes(include=['object', 'category']).columns

def verify_feature_values_quantity(df, feature_list):
    for index, feature in enumerate(feature_list):
        quantity = len(df[feature].value_counts())
        print(f'{feature}: {quantity}')

def checking_possible_numerical_features(df, feature_list):
    for index, feature in enumerate(feature_list):
        quantity = len(df[feature].value_counts())
        if quantity < 20:
            print(f'{feature}: {quantity}')
            
def repĺace_categorical_to_numeric(dataset, feature, numeric_dic):
    return dataset[feature].replace(numeric_dic)

##### Verificando quais são as features categoricas

In [47]:
categorical_features = verify_features_by_type(df, 'categorical')

In [48]:
categorical_features

Index(['line_name', 'line_payment_method', 'line_category', 'line_color',
       'station_name', 'station_direction', 'station_type', 'vehicle_plate',
       'vehicle_time', 'accessibility_info_time',
       'accessibility_info_eletric_ramp', 'itinerary_company_name',
       'itinerary_special_line'],
      dtype='object')

In [49]:
verify_feature_values_quantity(df, categorical_features)

line_name: 256
line_payment_method: 2
line_category: 9
line_color: 7
station_name: 2908
station_direction: 309
station_type: 12
vehicle_plate: 1102
vehicle_time: 1243
accessibility_info_time: 1150
accessibility_info_eletric_ramp: 4
itinerary_company_name: 11
itinerary_special_line: 2

##### Features categóricas com soma de valores menores que 20 decidimos transformar em numéricas

In [50]:
checking_possible_numerical_features(df, categorical_features)

line_payment_method: 2
line_category: 9
line_color: 7
station_type: 12
accessibility_info_eletric_ramp: 4
itinerary_company_name: 11
itinerary_special_line: 2

##### Ajustando valores da feature accessibility_info_eletric_ramp

Durante o processo de análise das features categóricas selecionadas para serem transformadas para numéricas observamos que a feature accessibility_info_eletric_ramp contém registros com nomes: 'RAMPA ELÉTRICA' e 'RAMPA ELETRICA'. Iremos ajustar para que os registros relacionados sejam definidos por 'RAMPA ELETRICA'.

In [51]:
df.loc[df.loc[df['accessibility_info_eletric_ramp'] == 'RAMPA ELÉTRICA'] .index, 'accessibility_info_eletric_ramp'] = 'RAMPA ELETRICA'

##### Categorizando features com valores menores que 20

In [52]:
line_payment_method_numeric_dic = { 
    'S':1, 
    'N':0 
}

line_category_numeric_dic = { 
    'ALIMENTADOR':1, 
    'CONVENCIONAL':2,
    'MADRUGUEIRO': 3,
    'TRONCAL': 4,
    'LINHA DIRETA': 5, 
    'EXPRESSO': 6,
    'INTERBAIRROS': 7,
    'LIGEIRÃO': 8,
    'JARDINEIRA': 9,
}

line_color_numeric_dic = { 
    'LARANJA':1,
    'AMARELA':2,
    'MADRUGUEIRO':3,
    'PRATA':4,
    'VERMELHA':5,
    'VERDE':6,
    'TURISMO':7,
}

station_type_numeric_dic = { 
    'Novo mobiliário':1,         
    'Chapéu chinês':2,           
    'Domus':3,                   
    'Estação tubo':4,            
    'Sem demarcação':5,           
    'Plataforma':6,               
    'Placa em cano':7,            
    'Especial Madrugueiro':8,     
    'Placa em poste':9,           
    'Linha Turismo':10,             
    'Concreto':11,                  
    'Fora do padrão':12,
}

accessibility_info_eletric_ramp_numeric_dic = { 
    'ELEVADOR':1,
    'RAMPA ELETRICA':2,
    'SEM ELEVADOR':3,
}

itinerary_company_name_numeric_dic = { 
    'GLÓRIA/PONTUAL':1,
    'REDENTOR/TRANSBUS':2,
    'SORRISO/PIONEIRO':3,
    'EXPRESSO AZUL/TRANSBUS':4,
    'SÃO JOSÉ/PIONEIRO':5,
    'CCD/PIONEIRO':6,
    'MERCÊS/PONTUAL':7,
    'TAMANDARÉ/PIONEIRO':8,
    'SANTO ANTÔNIO/PONTUAL':9,
    'VIA MOBILIDADE/PIONEIRO':10,
    'ARAUCÁRIA/TRANSBUS':11
}

itinerary_special_line_numeric_dic = { 
    'N':0,
    'S':1
}

In [53]:
df['line_payment_method'] = repĺace_categorical_to_numeric(df, 'line_payment_method', line_payment_method_numeric_dic)
df['line_category'] = repĺace_categorical_to_numeric(df, 'line_category', line_category_numeric_dic)
df['line_color'] = repĺace_categorical_to_numeric(df, 'line_color', line_color_numeric_dic)
df['station_type'] = repĺace_categorical_to_numeric(df, 'station_type', station_type_numeric_dic)
df['accessibility_info_eletric_ramp'] = repĺace_categorical_to_numeric(df, 'accessibility_info_eletric_ramp', accessibility_info_eletric_ramp_numeric_dic)
df['itinerary_company_name'] = repĺace_categorical_to_numeric(df, 'itinerary_company_name', itinerary_company_name_numeric_dic)
df['itinerary_special_line'] = repĺace_categorical_to_numeric(df, 'itinerary_special_line', itinerary_special_line_numeric_dic)

##### Geração de features distance_km, duration_min, average_speed_ms, average_speed_kh

In [54]:
df['distance_km'] = df['distance'] / 1000
df['duration_min'] = df['duration'] / 60
df['average_speed_ms'] = df['distance'] / df['duration']
df['average_speed_kh'] = df['average_speed_ms'] * 3.6

##### Durante a fase de pós-processamento, nesta análise estatística, notamos que existem registros com as seguintes características:
- Duração de viagem 60 segundos ou 1 minuto;
- Distância de 1 metro;

Decidimos filtrá-los e remove-los, pois acreditamos serem dados inconsistentes.

In [55]:
df.describe()

,line_id,line_payment_method,line_category,line_color,station_code,station_initial_latitude,station_initial_longitude,station_sequence,station_type,accessibility_info_day,...,itinerary_code,itinerary_special_line,station_final_latitude,station_final_longitude,distance,duration,distance_km,duration_min,average_speed_ms,average_speed_kh
count,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.00000,12779.000000,12779.000000,...,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000,12779.000000
mean,510.460052,0.884968,2.217075,1.953126,147314.333594,-25.460719,-49.277430,15.81094,2.789420,1.747007,...,359.140465,0.109711,-25.460534,-49.277264,12093.922615,1247.758799,12.093923,20.795980,9.007802,32.428088
std,240.101429,0.319074,1.703987,1.292820,40326.786605,0.053080,0.041073,14.00681,2.198733,0.815461,...,287.214829,0.312542,0.052838,0.041231,7616.595207,576.790034,7.616595,9.613167,3.067925,11.044530
min,10.000000,0.000000,1.000000,1.000000,101001.000000,-25.625298,-49.378703,1.00000,1.000000,1.000000,...,1.000000,0.000000,-25.625298,-49.378703,1.000000,60.000000,0.001000,1.000000,0.016667,0.060000
25%,309.000000,1.000000,1.000000,1.000000,120242.000000,-25.499628,-49.304900,6.00000,1.000000,1.000000,...,146.000000,0.000000,-25.498686,-49.304651,6600.000000,840.000000,6.600000,14.000000,7.348485,26.454545
50%,533.000000,1.000000,2.000000,2.000000,150009.000000,-25.455507,-49.274090,12.00000,2.000000,2.000000,...,289.000000,0.000000,-25.455090,-49.273996,10900.000000,1260.000000,10.900000,21.000000,8.333333,30.000000
75%,668.000000,1.000000,3.000000,2.000000,170506.000000,-25.422360,-49.248696,22.00000,4.000000,2.000000,...,458.000000,0.000000,-25.422406,-49.248696,16200.000000,1680.000000,16.200000,28.000000,10.595238,38.142857
max,989.000000,1.000000,9.000000,7.000000,661001.000000,-25.350096,-49.183086,117.00000,12.000000,3.000000,...,1208.000000,1.000000,-25.350096,-49.183086,47900.000000,2940.000000,47.900000,49.000000,20.645161,74.322581

In [56]:
df[df['duration'] == 60.0]

,line_id,line_name,line_payment_method,line_category,line_color,station_name,station_code,station_initial_latitude,station_initial_longitude,station_sequence,...,itinerary_code,itinerary_special_line,station_final_latitude,station_final_longitude,distance,duration,distance_km,duration_min,average_speed_ms,average_speed_kh
71,534,PARIGOT DE SOUZA,1,1,1,Terminal Sítio Cercado - 534 - Parigot de Souza,106110,-25.534549,-49.268700,1,...,20,0,-25.534462,-49.268328,32.0,60.0,0.032,1.0,0.533333,1.92
224,307,B. ALTO / STA. FELICIDADE,0,5,4,Terminal Bairro Alto - 340 - Detran / Bairro A...,109120,-25.413190,-49.205810,1,...,207,0,-25.413190,-49.205810,1.0,60.0,0.001,1.0,0.016667,0.06
283,182,ABRANCHES,1,4,2,Praça Tiradentes - 182 - Abranches,101021,-25.428481,-49.271082,1,...,695,0,-25.428481,-49.271082,1.0,60.0,0.001,1.0,0.016667,0.06
321,534,PARIGOT DE SOUZA,1,1,1,Terminal Sítio Cercado - 534 - Parigot de Souza,106110,-25.534549,-49.268700,1,...,20,0,-25.534549,-49.268700,1.0,60.0,0.001,1.0,0.016667,0.06
423,546,S. CERCADO / BOQUEIRÃO,0,5,4,Terminal Sítio Cercado - 508 - Sítio Cercado (...,109111,-25.534672,-49.268449,1,...,1154,0,-25.534155,-49.267309,100.0,60.0,0.100,1.0,1.666667,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13088,20,INTERBAIRROS II (HORÁRIO),0,7,6,"Rua José Rietmeyer, 462 - Guabirotuba",140034,-25.475952,-49.240087,108,...,681,0,-25.475952,-49.240087,1.0,60.0,0.001,1.0,0.016667,0.06
13089,20,INTERBAIRROS II (HORÁRIO),0,7,6,"Rua José Rietmeyer, 462 - Guabirotuba",140034,-25.475952,-49.240087,108,...,681,0,-25.475952,-49.240087,1.0,60.0,0.001,1.0,0.016667,0.06
13092,689,MAD. S. PEDRO / R. NEGRO,1,3,3,"Rua Alferes Poli, 400 - Rebouças",110026,-25.440706,-49.271456,117,...,660,1,-25.440706,-49.271456,1.0,60.0,0.001,1.0,0.016667,0.06
13093,689,MAD. S. PEDRO / R. NEGRO,1,3,3,"Rua Alferes Poli, 400 - Rebouças",110026,-25.440706,-49.271456,117,...,660,1,-25.440706,-49.271456,1.0,60.0,0.001,1.0,0.016667,0.06
13094,689,MAD. S. PEDRO / R. NEGRO,1,3,3,"Rua Alferes Poli, 400 - Rebouças",110026,-25.440706,-49.271456,117,...,660,1,-25.440706,-49.271456,1.0,60.0,0.001,1.0,0.016667,0.06

In [57]:
df = df.drop(df.loc[df['duration'] == 60.0].index)

In [58]:
df[df['duration'] == 60.0]

Empty DataFrame
Columns: [line_id, line_name, line_payment_method, line_category, line_color, station_name, station_code, station_initial_latitude, station_initial_longitude, station_sequence, station_direction, station_type, vehicle_plate, vehicle_time, accessibility_info_time, accessibility_info_day, accessibility_info_eletric_ramp, itinerary_company_name, itinerary_code, itinerary_special_line, station_final_latitude, station_final_longitude, distance, duration, distance_km, duration_min, average_speed_ms, average_speed_kh]
Index: []

[0 rows x 28 columns]

In [59]:
df[df['distance'] == 1.000000]

Empty DataFrame
Columns: [line_id, line_name, line_payment_method, line_category, line_color, station_name, station_code, station_initial_latitude, station_initial_longitude, station_sequence, station_direction, station_type, vehicle_plate, vehicle_time, accessibility_info_time, accessibility_info_day, accessibility_info_eletric_ramp, itinerary_company_name, itinerary_code, itinerary_special_line, station_final_latitude, station_final_longitude, distance, duration, distance_km, duration_min, average_speed_ms, average_speed_kh]
Index: []

[0 rows x 28 columns]

In [60]:
df.describe()

,line_id,line_payment_method,line_category,line_color,station_code,station_initial_latitude,station_initial_longitude,station_sequence,station_type,accessibility_info_day,...,itinerary_code,itinerary_special_line,station_final_latitude,station_final_longitude,distance,duration,distance_km,duration_min,average_speed_ms,average_speed_kh
count,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,...,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000,12372.000000
mean,510.654866,0.885063,2.198836,1.933721,147315.237068,-25.460698,-49.277336,15.049628,2.803104,1.744989,...,354.813126,0.107420,-25.460507,-49.277163,12490.503403,1286.832338,12.490503,21.447206,9.282942,33.418590
std,238.419730,0.318959,1.697256,1.281610,40663.178336,0.053119,0.041128,12.475852,2.205225,0.815957,...,286.272173,0.309659,0.052868,0.041289,7414.984642,543.775158,7.414985,9.062919,2.682140,9.655704
min,10.000000,0.000000,1.000000,1.000000,101001.000000,-25.625298,-49.378703,1.000000,1.000000,1.000000,...,1.000000,0.000000,-25.625298,-49.378703,400.000000,120.000000,0.400000,2.000000,2.857143,10.285714
25%,311.000000,1.000000,1.000000,1.000000,120231.750000,-25.499622,-49.304682,6.000000,1.000000,1.000000,...,146.000000,0.000000,-25.498496,-49.304578,7100.000000,900.000000,7.100000,15.000000,7.428571,26.742857
50%,533.000000,1.000000,2.000000,2.000000,150006.000000,-25.455470,-49.273843,12.000000,2.000000,2.000000,...,287.000000,0.000000,-25.455060,-49.273810,11100.000000,1260.000000,11.100000,21.000000,8.437500,30.375000
75%,666.000000,1.000000,3.000000,2.000000,170504.000000,-25.422406,-49.248453,21.000000,4.000000,2.000000,...,448.000000,0.000000,-25.422420,-49.248224,16400.000000,1680.000000,16.400000,28.000000,10.689655,38.482759
max,989.000000,1.000000,9.000000,7.000000,661001.000000,-25.350096,-49.183086,117.000000,12.000000,3.000000,...,1208.000000,1.000000,-25.350096,-49.183086,47900.000000,2940.000000,47.900000,49.000000,20.645161,74.322581

##### Reordenando as colunas

In [61]:
new_feature_order = [
    'line_name',
    'station_name',
    'station_direction',  
    'vehicle_plate',  
    'line_id',  
    'station_code', 
    'itinerary_code', 
    'station_sequence', 
    'itinerary_company_name', 
    'line_category',
    'station_type', 
    'line_color', 
    'line_payment_method',  
    'vehicle_time',  
    'accessibility_info_time',  
    'accessibility_info_day', 
    'accessibility_info_eletric_ramp', 
    'itinerary_special_line',
    'station_initial_latitude', 
    'station_initial_longitude', 
    'station_final_latitude', 
    'station_final_longitude', 
    'distance', 
    'distance_km', 
    'average_speed_ms', 
    'average_speed_kh',
    'duration_min', 
    'duration',  
]
df = df[new_feature_order]

In [62]:
df.head()

,line_name,station_name,station_direction,vehicle_plate,line_id,station_code,itinerary_code,station_sequence,itinerary_company_name,line_category,...,station_initial_latitude,station_initial_longitude,station_final_latitude,station_final_longitude,distance,distance_km,average_speed_ms,average_speed_kh,duration_min,duration
0,TINGUI,Terminal Cabral - 214 - Tingui,Terminal Santa Cândida,BI857,214,104410,184,1,1,1,...,-25.406891,-49.252828,-25.433741,-49.270292,5100.0,5.1,5.666667,20.400000,15.0,900.0
1,LIGEIRÃO BOQUEIRÃO,Estação Tubo Praça Carlos Gomes,Term. Boqueirão (sábado),GE729,500,108065,1185,1,3,8,...,-25.433741,-49.270292,-25.396167,-49.358341,17300.0,17.3,10.679012,38.444444,27.0,1620.0
2,JOSÉ CULPI,"Rua José Culpi, 693 - Butiatuvinha",Terminal Sta. Felicidade,MC304,912,190324,40,1,7,1,...,-25.396167,-49.358341,-25.435187,-49.271813,11300.0,11.3,6.726190,24.214286,28.0,1680.0
3,CANAL BELÉM,Praça Rui Barbosa - 475 - Canal Belém,Canal Belém,EI020,475,102019,210,1,5,2,...,-25.435187,-49.271813,-25.436659,-49.273807,1100.0,1.1,4.583333,16.500000,4.0,240.0
4,ALFERES POLI,Praça Rui Barbosa - 560 - Alferes Poli,Alferes Poli,DN020,560,102017,64,1,6,2,...,-25.436659,-49.273807,-25.435052,-49.275876,2000.0,2.0,4.166667,15.000000,8.0,480.0

##### Convertendo dados de tempo das features vehicle_time e accessibility_info_time para minutos

In [63]:
df['vehicle_time'] = df['vehicle_time'].apply(lambda x: int(x.split(':')[0]) * 60 + int(x.split(':')[1]))

In [64]:
df['accessibility_info_time'] = df['accessibility_info_time'].apply(lambda x: int(x.split(':')[0]) * 60 + int(x.split(':')[1]))

##### Removendo features desnecessárias

In [65]:
features_to_remove = [
    'station_code', 
    'itinerary_code', 
    'station_sequence',
    'station_type',
    'itinerary_special_line'
]
df.drop(columns=features_to_remove, inplace=True)

In [66]:
df.head()

,line_name,station_name,station_direction,vehicle_plate,line_id,itinerary_company_name,line_category,line_color,line_payment_method,vehicle_time,...,station_initial_latitude,station_initial_longitude,station_final_latitude,station_final_longitude,distance,distance_km,average_speed_ms,average_speed_kh,duration_min,duration
0,TINGUI,Terminal Cabral - 214 - Tingui,Terminal Santa Cândida,BI857,214,1,1,1,1,1180,...,-25.406891,-49.252828,-25.433741,-49.270292,5100.0,5.1,5.666667,20.400000,15.0,900.0
1,LIGEIRÃO BOQUEIRÃO,Estação Tubo Praça Carlos Gomes,Term. Boqueirão (sábado),GE729,500,3,8,5,0,453,...,-25.433741,-49.270292,-25.396167,-49.358341,17300.0,17.3,10.679012,38.444444,27.0,1620.0
2,JOSÉ CULPI,"Rua José Culpi, 693 - Butiatuvinha",Terminal Sta. Felicidade,MC304,912,7,1,1,1,339,...,-25.396167,-49.358341,-25.435187,-49.271813,11300.0,11.3,6.726190,24.214286,28.0,1680.0
3,CANAL BELÉM,Praça Rui Barbosa - 475 - Canal Belém,Canal Belém,EI020,475,5,2,2,1,800,...,-25.435187,-49.271813,-25.436659,-49.273807,1100.0,1.1,4.583333,16.500000,4.0,240.0
4,ALFERES POLI,Praça Rui Barbosa - 560 - Alferes Poli,Alferes Poli,DN020,560,6,2,2,1,1140,...,-25.436659,-49.273807,-25.435052,-49.275876,2000.0,2.0,4.166667,15.000000,8.0,480.0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12372 entries, 0 to 13095
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   line_name                        12372 non-null  object
 1   station_name                     12372 non-null  object
 2   station_direction                12372 non-null  object
 3   vehicle_plate                    12372 non-null  object
 4   line_id                          12372 non-null  int64
 5   itinerary_company_name           12372 non-null  int64
 6   line_category                    12372 non-null  int64
 7   line_color                       12372 non-null  int64
 8   line_payment_method              12372 non-null  int64
 9   vehicle_time                     12372 non-null  int64
 10  accessibility_info_time          12372 non-null  int64
 11  accessibility_info_day           12372 non-null  int64
 12  accessibility_info_eletric_ramp  12372 non-null  int64
 13  station_initial_latitude         12372 non-null  float64
 14  station_initial_longitude        12372 non-null  float64
 15  station_final_latitude           12372 non-null  float64
 16  station_final_longitude          12372 non-null  float64
 17  distance                         12372 non-null  float64
 18  distance_km                      12372 non-null  float64
 19  average_speed_ms                 12372 non-null  float64
 20  average_speed_kh                 12372 non-null  float64
 21  duration_min                     12372 non-null  float64
 22  duration                         12372 non-null  float64
dtypes: float64(10), int64(9), object(4)
memory usage: 2.3+ MB

##### Salvando dataset

In [68]:
path_post_processing = '/media/marcos/500GB/00_datasets/post_processing/post_processing_dataset.csv'
df.to_csv(path_post_processing, index=False)